<div id="mainContent">
  <a class="btn btn-New" href="medicines#NEW-modal">
    <div class="functionButtons">
      <i class="material-icons">note_add</i>
    </div>
    <div class="functionText">
      <p>Create a New Medicine</p>
    </div>
  </a>
  <a class="btn btn-Edit" href="medicines#EDIT-modal">
    <div class="functionButtons">
      <i class="material-icons">create</i>
    </div>
    <div class="functionText">
      <p>Edit an Existing Medicine</p>
    </div>
  </a>
    <a class="btn btn-View" href="medicines#VIEW-modal">
    <div class="functionButtons">
      <i class="material-icons">visibility</i>
    </div>
    <div class="functionText">
      <p>View Medicines</p>
  </div>
  </a>
  <a class="btn btn-Delete" href="medicines#DELETE-modal">
    <div class="functionButtons">
      <i class="material-icons">delete</i>
    </div>
    <div class="functionText">
      <p>Delete Medicines</p>
    </div>
  </a>
<!-- THIS PART IS FOR THE MODALS -->
    <div id="NEW-modal" class="modal-window">
      <div>
        <a href="medicines#" title="Close" class="modal-close">Close</a>
        <div id="contentGoesHere">
          <h1>NEW</h1>
          <input [(ngModel)]="medicine.name" type="text" placeholder="Name"><br>
          <input [(ngModel)]="medicine.price" type="text" placeholder="Price"><br>
          <input [(ngModel)]="medicine.manufacturer" type="text" placeholder="Manufacturer"><br>
          <a href="medicines#">
            <button  (click)="addMedicine()">Add medicine</button>
          </a>
        </div>
      </div>
    </div>

    <div id="EDIT-modal" class="modal-window">
      <div>
        <a href="medicines#" title="Close" class="modal-close">Close</a>
        <div id="contentGoesHere">
          <h1>EDIT</h1>
          <select #toBeEdited>
            <option *ngFor="let medicine of medicines; let i = index" value="{{i}}">{{medicine.name}}</option>
          </select><br>
          <button (click)="selectMedicine(toBeEdited.value)">Select medicine</button><br>
          <div *ngIf="selectedMedicine.name">
            <input [(ngModel)]="selectedMedicine.name" type="text"/><br /><br />
            <input [(ngModel)]="selectedMedicine.price" type="text"/><br /><br />
            <input [(ngModel)]="selectedMedicine.manufacturer" type="text"/><br /><br />
            <button (click)="editMedicine()">Edit medicine</button>
          </div>
        </div>
      </div>
    </div>

    <div id="VIEW-modal" class="modal-window">
      <div>
        <a href="medicines#" title="Close" class="modal-close">Close</a>
        <div id="contentGoesHere">
          <h1>VIEW</h1>
          <table>
            <tr>
                <th class="tableheader">ID</th>
                <th class="tableheader">Name</th>
                <th class="tableheader">Price</th>
                <th class="tableheader">Manufacturer</th>
            </tr>
            <tr *ngFor="let medicine of medicines">
              <td>{{medicine.id}}</td>
              <td>{{medicine.name}}</td>
              <td>{{medicine.price}}</td>
              <td>{{medicine.manufacturer}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div id="DELETE-modal" class="modal-window">
      <div>
        <a href="medicines#" title="Close" class="modal-close">Close</a>
        <div id="contentGoesHere">
          <h1>DELETE</h1>
          <select #toBeDeleted>
              <option *ngFor="let medicine of medicines; let i = index" value="{{i}}">{{medicine.name}}</option>
          </select><br>
          <a href="medicines#">
            <button (click)="deleteMedicine(toBeDeleted.value)">Delete medicine</button>
          </a>
        </div>
      </div>
    </div>
<!-- THIS IS THE ENDING FOR THE MODALS -->
</div>