<div id="mainContent">
  <a class="btn btn-New" href="diseases#NEW-modal">
    <div class="functionButtons">
      <i class="material-icons">note_add</i>
    </div>
    <div class="functionText">
      <p>Create a New Record</p>
    </div>
  </a>
  <a class="btn btn-Edit" href="diseases#EDIT-modal">
    <div class="functionButtons">
      <i class="material-icons">create</i>
    </div>
    <div class="functionText">
      <p>Edit an existing Record</p>
    </div>
  </a>
    <a class="btn btn-View" href="diseases#VIEW-modal">
    <div class="functionButtons">
      <i class="material-icons">visibility</i>
    </div>
    <div class="functionText">
      <p>View Records</p>
  </div>
  </a>
  <a class="btn btn-Delete" href="diseases#DELETE-modal">
    <div class="functionButtons">
      <i class="material-icons">delete</i>
    </div>
    <div class="functionText">
      <p>Delete Records</p>
    </div>
  </a>
<!-- THIS PART IS FOR THE MODALS -->
    <div id="NEW-modal" class="modal-window">
      <div>
        <a href="diseases#" title="Close" class="modal-close">Close</a>
        <div id="contentGoesHere">
          <h1>NEW</h1>
        </div>
      </div>
    </div>

    <div id="EDIT-modal" class="modal-window">
      <div>
        <a href="diseases#" title="Close" class="modal-close">Close</a>
        <div id="contentGoesHere">
          <h1>EDIT</h1>
        </div>
      </div>
    </div>

    <div id="VIEW-modal" class="modal-window">
      <div>
        <a href="diseases#" title="Close" class="modal-close">Close</a>
        <div id="contentGoesHere">
          <h1>VIEW</h1>
        </div>
      </div>
    </div>

    <div id="DELETE-modal" class="modal-window">
      <div>
        <a href="diseases#" title="Close" class="modal-close">Close</a>
        <div id="contentGoesHere">
          <h1>DELETE</h1>
        </div>
      </div>
    </div>
<!-- THIS IS THE ENDING FOR THE MODALS -->
</div>