<div id="mainContent">
  <a class="btn btn-New" href="diseases#NEW-modal">
    <div class="functionButtons">
      <i class="material-icons">note_add</i>
    </div>
    <div class="functionText">
      <p>Create a New Disease</p>
    </div>
  </a>
  <a class="btn btn-Edit" href="diseases#EDIT-modal">
    <div class="functionButtons">
      <i class="material-icons">create</i>
    </div>
    <div class="functionText">
      <p>Edit an Existing Disease</p>
    </div>
  </a>
    <a class="btn btn-View" href="diseases#VIEW-modal">
    <div class="functionButtons">
      <i class="material-icons">visibility</i>
    </div>
    <div class="functionText">
      <p>View Diseases</p>
  </div>
  </a>
  <a class="btn btn-Delete" href="diseases#DELETE-modal">
    <div class="functionButtons">
      <i class="material-icons">delete</i>
    </div>
    <div class="functionText">
      <p>Delete Diseases</p>
    </div>
  </a>
<!-- THIS PART IS FOR THE MODALS -->
    <div id="NEW-modal" class="modal-window">
      <div>
        <a href="diseases#" title="Close" class="modal-close" (click)="resetDisease()">
          <i class="material-icons">clear</i>
        </a>
        <div id="contentGoesHere" style="display:grid; grid-template-columns: auto;">
          <h1>NEW</h1>
          <input [(ngModel)]="disease.name" type="text" placeholder="Name"><br>
          <select #selectMedicine>
              <option *ngFor="let medicine of medicines; let i = index" value="{{i}}">{{medicine.name}}</option>
          </select><br>
          <a href="diseases#">
            <button  (click)="addDisease(selectMedicine.value)">Add disease</button>
          </a>
        </div>
      </div>
    </div>

    <div id="EDIT-modal" class="modal-window">
      <div>
        <a href="diseases#" title="Close" class="modal-close"><i class="material-icons">clear</i></a>
        <div id="contentGoesHere" style="display:grid; grid-template-columns: auto;">
          <h1>EDIT</h1>
          <select #toBeEdited>
            <option *ngFor="let disease of diseases; let i = index" value="{{i}}">{{disease.name}}</option>
          </select><br>
          <button (click)="selectDisease(toBeEdited.value)">Select disease</button><br>
          <div *ngIf="selectedDisease.name">
            <input [(ngModel)]="selectedDisease.name" type="text"/><br /><br />
            <select #newMedicine>
              <option *ngFor="let medicine of medicines; let i = index" value="{{i}}">{{medicine.name}}</option>
          </select><br><br>
            <button (click)="editDisease(newMedicine.value)">Edit disease</button>
          </div>
        </div>
      </div>
    </div>

    <div id="VIEW-modal" class="modal-window">
      <div>
        <a href="diseases#" title="Close" class="modal-close"><i class="material-icons">clear</i></a>
        <div id="contentGoesHere">
          <h1>VIEW</h1>
          <table>
            <tr>
                <th class="tableheader">ID</th>
                <th class="tableheader">Name</th>
                <th  class="tableheader">Medicines</th>
            </tr>
            <tr *ngFor="let disease of diseases">
              <td>{{disease.id}}</td>
              <td>{{disease.name}}</td>
              <td>
                 <p *ngFor="let medicine of disease.medicines">{{medicine.name}}</p> 
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div id="DELETE-modal" class="modal-window">
      <div>
        <a href="diseases#" title="Close" class="modal-close"><i class="material-icons">clear</i></a>
        <div id="contentGoesHere" style="display:grid; grid-template-columns: auto;">
          <h1>DELETE</h1>
          <select #toBeDeleted>
              <option *ngFor="let disease of diseases; let i = index" value="{{i}}">{{disease.name}}</option>
          </select><br>
          <a href="diseases#">
            <button (click)="deleteDisease(toBeDeleted.value)">Delete disease</button>
          </a>
        </div>
      </div>
    </div>
<!-- THIS IS THE ENDING FOR THE MODALS -->
</div>